<a href="https://colab.research.google.com/github/pierrex5/15-PROJETOS/blob/main/untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dados = {
     "Nome" : [ "Alice" , "Bob" ,"Charlie" , "David"],
     "Idade" : [ 25, 30, 35, 28],
     "cidade" : ["São Paulo", "Rio de Janeiro", "Belo Horizonte", "Curitiba"]
}

df = pd.DataFrame(dados)
df.info()

# Agora vamos criar um DataFrame para funcionários
dados_funcionarios = {
    "Nome": ["Ana", "Pedro", "Mariana", "Carlos"],
    "Cargo": ["Gerente", "Analista", "Assistente", "Desenvolvedor"],
    "Salario": [7000, 4500, 3000, 6000]
}

df_funcionarios = pd.DataFrame(dados_funcionarios)
print("\nDataFrame de Funcionários:")
df_funcionarios
df_funcionarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    4 non-null      object
 1   Idade   4 non-null      int64
 2   cidade  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

DataFrame de Funcionários:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     4 non-null      object
 1   Cargo    4 non-null      object
 2   Salario  4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes